{% extends "home.html" %}
{% block content %}
<aside>
<img src="/static/d.jpg" align="center">
<hr>
<p style="text-align:center;color:#990033"> <b>
Amit Kumar (born on sep 26,1995)
</b>
</p>
</aside>
<div class="parent">
<h1> Hometown</h1>
<div class="child">
<p style="font-size:20px;font-family:Bookman Old Style">
My hometown is Urban Estate,Jalandhar,Punjab. </p>
</div>
<h1> Academic Details</h1>
<div class="child">
<p style="font-size:20px;font-family:Bookman Old Style">
*Completed 12th in 2014 with 95% score.<br>
*Cleared JEE-MAIN and ADVANVE exam in 2014.<br>
*Joined IIT-BHU in July,2014 for further studies.<br>
*Currently doing B-Tech in Computer Science in IIT-BHU.
</p>
</div>
<h1> Courses joined </h1>
<div class="child">
<p style="font-size:20px;font-family:Bookman Old Style">
I was having following subjects as courses :<br>
<table style="width:100%;font-size:20px;font-family:Bookman Old Style">
  <tr>
    <td style="color:#990033">Ist sem</td>
    <td style="color:#990033">IInd sem</td>
  </tr>
  <tr>
    <td>Maths-I</td>
    <td>Maths-II</td>
  </tr>
    <td>Phy-I</td>
    <td>Engg.Mechanics</td>
  <tr>
  </tr>
    <td>Bio</td>
    <td>Electrical</td>
  <tr>
    <td>Human Values</td>
    <td>Philosophy</td>
  </tr>
</table>

  </div>




</div>








{% endblock %}
