{% extends "home.html" %}
{% block content %}
<form method="POST" style="padding-left: 30px">
    <input type="text" name="first" value="{{oldvalue}}"style="font-size: 40px;border-radius: 10px"><br>
    <br>
    <input type="submit" value="Submit"style="font-size: 40px;color:cornflowerblue;border-radius: 10px">

</form>
     
    <div>
    <h2 style="font-size: 40px;padding-left: 30px">
        <label name='result'><b>Answer For Average : {{ result }}</b></label>
    </h2>
    </div>
     



{% endblock %}
