{% extends "home.html" %}
{% block content %}
    <ol>
    <li>
        <a href="/biodata/aman" style="text-decoration: none"><h1 style="text-shadow: 2px 2px #0099FF;font-size: 40px">Aman Gupta</h1></a></li>
    </li>
    <li>
        <a href="/biodata/amit" style="text-decoration: none"><h1 style="text-shadow: 2px 2px #0099FF;font-size: 40px">Amit Kumar</h1></a></li>
    </li>
    <li>
        <a href="/biodata/murari" style="text-decoration: none"><h1 style="text-shadow: 2px 2px #0099FF;font-size: 40px">Murari</h1></a></li>
    </li>
    </ol>
{% endblock %}
